
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



//calendario
.fc-day-grid-container{
  cursor: pointer;
}

.fc-day-top{
  text-align: center !important;
}

.fc-day-number{
  float: none !important;
}

.fc td, .fc th{
  border-width: 0px !important;
}



//cita
.cita{
  padding: 1.25rem;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  cursor: pointer;
  cursor: hand;

  .color{
    height: 100%;
    min-height: 50px;
    width: 25px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
}
